body > div:not(.hero):not(.bloco-informacao):not(.imagens) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    padding: 0;
    margin: 0;
}

.navegacao {
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
    text-transform: uppercase;
    width: auto;
    padding: 0;
    margin: 0;
}

.a {
    color: #000000;
    text-decoration: none;
    
}

.logo {
    width: 300px;
    height: auto;
}

.hero {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.imagem-espaco {
    width: 100%;
    height: 700px;
    display: block;
}

.texto {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
    font-family: 'Raleway', sans-serif;
}

.botao {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 10px 55px;
    font-weight: bold;
    }

.telescopio {
    width: 380px;
    height: auto;
    display: block;
    float: left;
    margin: 8px 25px 10px 0;
}

.texto2 {
    font-family: 'Inter', sans-serif;
    color: #222;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    margin: 0;
    overflow: hidden;
}

.bloco-informacao {
    display: block;
    overflow: hidden;
    padding: 0 100px;
    box-sizing: border-box;
}




.destino-final {
    font-family: 'Inter', sans-serif;
    color: #000000;
    font-size: 40px;
    font-weight: bold;
    margin: 8px 100px 10px 100px;
}

.texto3 {
    font-family: 'Inter', sans-serif;
    color: #222;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    margin: 0;
    padding: 0 100px;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.sobre {
    font-family: 'Inter', sans-serif;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

.imagens {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: calc(100% - 200px);
    margin: 0 auto 20px auto;
    box-sizing: border-box;
}

.imagens img {
    width: 33.33%;
    height: auto;
    display: block;
    border-radius: 10px;
    flex: 1;
}




